body
{
  background-image: url("beans.jpg");
}
div
{
  background-color: #C68B59;
  margin-left: auto;
  margin-right: auto;

 width: 65%;
}
h1
{
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
}
h2
{
  text-align:center;
font-size:27px;
}
hr
{
 height: 5px;
 border-style: none;
 border-top-style: solid;
 border-width: 5px;
 width: 75%;
 border-color: #86340A;

}
.mug
{
  display: block;
   margin-left: auto;
   margin-right: auto;

   height: 50px;
   width: 50px;
}
p
{
  text-align: center;
  font-size:16px;
}
table
{
 font-size:18px;

}
td
{
  padding-right: 100px;
  padding-left: 100px;

}
